{% assign services = site.data.data.services %}
{% if services %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-hands fa-stack-1x fa-inverse"></i>
    </span>
    {{ services.title }}
  </h2>

  {% if services.intro %}
  <div class="intro">
    {{ services.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for service in services.items %}
  <div class="item">
    {% if service.link %}
      <a href="{{ service.link }}">{{ service.title }}</a>
    {% else %}
      {{ service.title }}
    {% endif %}
    <div class="publication-authors">{{ service.venue }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
